.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b4b4b;
}

.expense-item__description {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.expense-item h2 {
  color: aliceblue;
}

.expense-item__price {
  background-color: blueviolet;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
}